@import "@catppuccin/palette/scss/latte";

$border-radius: 0px;
$side-panel-btn-width: 30px;
$fontSmall: 10px;

$neutral100: #f3f4f6;
$neutral200: #e5e7eb;
$neutral300: #d1d5db;
$neutral400: #B2B2B2;
$neutral50: #f9fafb;
$neutral500: #808080;
$neutral600: #636363;
$neutral700: #515151;
$neutral800: #393939;
$neutral900: #272727;
$neutral950: #171717;

//$primary: #02C160;
$cn-primary: $lavender;
$cn-primary100: darken($cn-primary, 20);
$cn-primary200: darken($cn-primary100, 5);

$primary100: $cn-primary100;
$primary200: $cn-primary;
$primary300: $cn-primary200;
$primary400: $cn-primary200;
$primary50: $cn-primary;
$primary500: $cn-primary;
$primary600: $cn-primary;
$primary700: $cn-primary200;
$primary800: $cn-primary200;
$primary900: $cn-primary;
$primary950: $cn-primary;

$secondary: #576b95;
$secondary100: $secondary;
$secondary200: $secondary;
$secondary300: $secondary;
$secondary400: $secondary;
$secondary50: $secondary;
$secondary500: $secondary;
$secondary600: $secondary;
$secondary700: $secondary;
$secondary800: $secondary;
$secondary900: $secondary;
$secondary950: $secondary;
